<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-close-round" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">ReportIssues</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-done" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <label class="item  item-input item-select-icon positive-icon"
            data-comp-id="selectInput.1">
            <span class="input-label">Catagory</span>
            <select ng-model="data.Catagory.selected"
                ng-options="item as item.label for item in data.Catagory.options"></select>
        </label>
    </ion-content>
</ion-view>